  <div class="container">
   <div class="row">
    <div class="col-md-8 col-md-offset-2">
     <table class="table table-hover">
      <thead>
       <tr>
        <th>name</th>
        <th>image</th>
       </tr>
      </thead>
     <tbody>
      <% @search.each do |search| %>
       <tr>
        <td><%= link_to search.name, search %></td>
        <td><%= attachment_image_tag search, :profile_image, :fill, 60, 60, fallback: "no_image.png" %></td>
       </tr>
      </tbody>
      <% end %>
     </table>
   </div>
    <div class="col-md-2">
   </div>
  </div>
 </div>
