<div class="container">
  <div class="row">
      <div class="col-md-6">
        <h1>welcome to Bookers!</h1>
      </div>

      <div class="col-md-6">
        <p>test</p>
        <span>テスト</span>
      </div>

    </div>
  </div>
